h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;

  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}

.header-logo {
  color: var(--color-black);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-page {
  background-color: var(--background-white);
  border-bottom: 1px solid var(--border-header);
}

.header-nav,
.nav-main,
.nav-studio,
.studio-contacts {
  display: flex;
  align-items: center;
}

.studio-contacts-link {
  display: flex;
  align-items: center;
  fill: var(--color-text);
}

.btn-mar {
  margin-right: 10px;
}

.studio-contacts-link:hover,
.studio-contacts-item:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-studio,
.studio-contacts {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.studio-contacts a,
.nav-studio a {
  color: var(--color-title);
  padding-top: 32px;
  padding-bottom: 32px;
}

.studio-contacts {
  margin-left: auto;
}
 
.logo-blue,
.nav-studio a:hover,
.nav-studio a:focus {
  color: var(--color-accent);
}

.nav-studio .current {
  color: var(--color-accent);
}

.hero-section {
  background-color: var(--background-black);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/header-bg.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-content {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero-button {
  color: var(--color-white);
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  margin-top: 30px;
}


/* Секция особенности */

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--background-button);
  border-radius: 4px;
  margin-bottom: 30px;
}


.features-item + .features-item {
  margin-left: var(--section-list-gap);
}

.features-title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}
/* Секция портфолио */

.portfolio-section {
  padding-bottom: 94px;
}

.portfolio-item + .portfolio-item{
  margin-left: var(--section-list-gap);
}

/* Секция команда */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--background-button);
}

.section-list {
  display: flex;
}

.team-item {
  box-shadow: var(--shadow-thumb);
  border-radius: 0px 0px 4px 4px;
}

.team-item + .team-item {
  margin-left: var(--section-list-gap);
}

.team-element-content {
padding: 30px 32px;
}

.second-title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.third-title {
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
}

.third-profession {
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  margin-top: 10px;
}

.team-socnet {
  display: flex;
  width: 206px;
  height: 44px;
  margin-top: 16px;
  justify-content: space-between;
}

.team-socnet-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: var(--color-svg);
}

.team-socnet-link:hover,
.team-socnet-link:focus {
  background-color: var(--color-accent);
  fill: white;
}
/* Секция клиенты */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 90px;
  border: 1px solid var(--color-svg);
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  fill: var(--color-svg);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
}

/* Футер */
.footer-contents {
  display: flex;
}

.footer-logo,
.footer-text,
.footer-contacts a {
  color: var(--color-white);
}

.footer-contacts,
.footer-text {
  font-size: 14px;
  line-height: 1.71;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-page {
  background-color: var(--background-black);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  display: inline-block;
  font-style: normal;
  margin-right: 70px;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--color-accent);
}

.footer-social-network {
  width: 206px;
  height: 80px;
}

.footer-social-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-soc-list {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.footer-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-accent);
}

/* Страница портфолио */

.portfolio-main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.prt-bm:hover,
.prt-bm:focus {
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prt-btn {
  color: var(--color-title);
  background-color: var(--background-button);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
}

.prt-btn:hover,
.prt-btn:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.prt-bm + .prt-bm {
  margin-left: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--section-list-gap)) ;
  margin-left: calc(-1 * var(--section-list-gap));
}

.portfolio-element {
  flex-basis: calc(100% / 3 - var(--section-list-gap));
  margin-top: var(--section-list-gap);
  margin-left: var(--section-list-gap);
  background-color: var(--background-white);
}

.portfolio-element a {
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio-element:hover,
.portfolio-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-element-content {
  padding: 20px 24px;
  border-right: 1px solid var(--border-element);
  border-bottom: 1px solid var(--border-element);
  border-left: 1px solid var(--border-element);
}

.portfolio-element-content h4 {
  margin-top: 4px;
}

.portfolio-title {
  color: var(--color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
}
